.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.summary > li {
  border: 0.1rem #c0c0c0 solid;
  margin: 2rem;
  border-radius: 0.5rem;
  flex: 1 1 20rem;
}

.summaryTitle {
  font-size: 2rem;
  padding: 1rem;
}

.summaryBody {
  font-size: 4rem;
  padding: 1rem;
  text-align: center;
}

.summaryTitle.color1 {
  background-color: #f0e0e0;
}
.summaryTitle.color2 {
  background-color: #e0f0e0;
}
.summaryTitle.color3 {
  background-color: #e0e0f0;
}
