.gridContainer {
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}

/* Header */
header {
  grid-area: header;
  background-color: #203040;
}

.badge {
  background-color: #f02020;
  color: #ffffff;
  border-radius: 50%;
  padding: 0.2rem 0.7rem;
  font-size: 1.4rem;
  margin-left: 0.2rem;
}

.cart {
  text-decoration: none;
  color: #ffffff;
}
.cart:hover {
  color: #ff8000;
}

.dropdown {
  display: inline-block;
  position: relative;
  margin-top: 9px;
}

a {
  text-decoration: none;
}

.dropdown a {
  color: #ffffff;
}

.dropdown a:hover {
  color: #ff8000;
}

.dropdownContent {
  position: absolute;
  display: none;
  right: 0;
  min-width: 12rem;
  padding: 1rem;
  z-index: 1;
  background-color: #203040;
  margin: 0;
  margin-top: 0.4rem;
  border-radius: 0.5rem;
}
.dropdown:hover .dropdownContent {
  display: block;
}


/* Main */
main {
  grid-area: main;
  padding: 1rem;
  margin-top: 50px;
}

/* Footer */
footer {
  grid-area: footer;
  background-color: #203040;
  color: #ffffff;
}
